h1 {
  text-align: center;
  font-family: "Lobster", cursive;
  color: black;
  margin: 40px;
}

footer p {
  margin-top: 15px;
  margin-left: 30px;
  text-align: center;
}

.jumbotron {
  background-color: #909090;
}

.float-right {
  float: right;
  margin-right: 20px;
}

div.t {
  position: relative;
  width: relative;
  height: relative;
  text-align: center;
  line-height: 80px;
  background-color: #fff;
  border: 5px solid #aaa;
  -webkit-border-radius: 58px;
  -moz-border-radius: 58px;
  border-radius: 58px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 10px 10px 30px #888;
}

div.t:before,
div.t:after {
  left: 10px;
  top: 70px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 8px solid #666;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
}

div.t:after {
  width: 20px;
  height: 20px;
  left: 5px;
  top: 100px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
}

#quote {
  background-color: white;
  margin: 10px;
  border-radius: 50px;
  border: white;
}
